<h1><strong>LearnSync</strong></h1>

<p>Simplifying Course Management, Empowering Education</p>

<%=link_to "Create Student Account",new_user_registration_path, class: "btn - btn-primary" %> 

<%=link_to "Login Student Account",new_user_session_path, class: "btn - btn-secondary" %> 
