
<h2>My Enrollments</h2>
<table class= "table table-striped">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Subject Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course.coursename %></td>
        <td><%= enrollment.course.subjectcode %></td>
        
        <td><%= enrollment.course.description%></td>


      </tr>
    <% end %>
  </tbody>
</table>
